/*窗口*/
body { margin:0; padding:0;}
	*html{background-image:url(about:blank);background-attachment:fixed;}/*解决IE6下滚动抖动的问题*/
	#window{width:100%;height:100%; position:fixed;top:0;left:0;background: url("heibg.png")/*tpa=https://huolong.xuanwu176.com/jsb/heibg.png*/ repeat left top;display:none;z-index:10000; _position:absolute;_top:expression(eval(document.documentElement.scrollTop));}
	#float_window{position:absolute;top:50%; left:50%; padding:0px; z-index:20001;}
	#float_window .closewindow{width:52px;background:url("btn_close.png")/*tpa=https://huolong.xuanwu176.com/jsb/btn_close.png*/ no-repeat left bottom;height:52px;position:absolute;}
	#float_window .closewindow:hover{background-position:left top;}
	#video{width:850;height:600px;background:#000;}


